{% extends 'base.html' %}
{% load static %}
	{% block content %}
		<style>
			#imagens{
				width: 100%;
				max-width: 354px;
				max-height: 271.83px;
			}			
		</style>
		<!-- Main -->
		<div id="main">
			<!-- One -->
			<section id="one">
				<header class="major">
					<h2>Ipsum lorem dolor aliquam ante commodo<br />
					magna sed accumsan arcu neque.</h2>
				</header>
				<p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
				<ul class="actions">
					<li>
						<a href="#" class="button">
							Learn More
						</a>
					</li>
				</ul>
			</section>
			<!-- Two -->
			<section id="two">
				<h2>
					Recent Work
				</h2>
					<div class="row">
						{% for post in posts %}
							<article class="col-6 col-12-xsmall work-item">
								<a href="{% static 'images/fulls/01.jpg' %}" id="imagens" class="image fit thumb">
									{% if post.image %}
										<img src="{{ post.image.url }}" id="imagens" alt=""/>
									{% else %}
										<img src="{% static 'images/thumbs/01.jpg' %}" id="imagens" alt="" />
									{% endif %}
								</a>
								<h3>
									{{ post.title }}
								</h3>
								<p>
									{{ post.sub_title }}
								</p>
								<span>
									{{ post.get_categories_display }}
								</span>
								<ul class="actions">
									<li>
										<a href="{% url 'post_detail' post.id %}" class="button">
											Ler mais
										</a>
									</li>
								</ul>
							</article>
						{% endfor %}
					</div>
				</section>
				<section id="three">
					<h2>
						Entre em contato
					</h2>
					<p>
						Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
					</p>
					<div class="row">
						<div class="col-8 col-12-small">
							<form method="post" action="{% url 'save_form' %}">
								{% csrf_token %}
								<div class="row gtr-uniform gtr-50">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Message" rows="4">

										</textarea>
									</div>
								</div>
								<input type="submit" value="Enviar" />
							</form>
						</div>
						<div class="col-4 col-12-small">
							<ul class="labeled-icons">
								<li>
									<h3 class="icon solid fa-home">
										<span class="label">
											Endereço</span>
										</h3>
									1234 Somewhere Rd.<br/>
									Nashville, TN 00000<br/>
									United States
								</li>
								<li>
									<h3 class="icon solid fa-mobile-alt">
										<span class="label">
											Telefone
										</span>
									</h3>
									000-000-0000
								</li>
								<li>
									<h3 class="icon solid fa-envelope">
										<span class="label">
											E-mail
										</span>
									</h3>
									<a href="#">
										hello@untitled.tld
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>
		<!-- Footer -->
	{% endblock content %}